body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

svg {
    font: 11px sans-serif;
    margin: 30px auto;
    display: block;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

#route-tooltip {
    position: absolute;
    min-width: 200px;
    height: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

#route-tooltip.hidden {
    display: none;
}

#route-tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

/*$base03:    #002b36;*/
/*$base02:    #073642;*/
/*$base01:    #586e75;*/
/*$base00:    #657b83;*/
/*$base0:     #839496;*/
/*$base1:     #93a1a1;*/
/*$base2:     #eee8d5;*/
/*$base3:     #fdf6e3;*/
/*$yellow:    #b58900;*/
/*$orange:    #cb4b16;*/
/*$red:       #dc322f;*/
/*$magenta:   #d33682;*/
/*$violet:    #6c71c4;*/
/*$blue:      #268bd2;*/
/*$cyan:      #2aa198;*/
/*$green:     #859900;*/
/*#D78B40*/